name: ci
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU for running tests
        uses: docker/setup-qemu-action@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          install_url: "https://releases.nixos.org/nix/nix-2.13.3/install"
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: "system-features = nixos-test kvm"

      - name: Configure binary cache
        uses: cachix/cachix-action@v12
        with:
          name: nixos-vfio
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Flake check
        run: nix flake check