name: update-flake-inputs
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at 00:00

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v20

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v14
        with:
          pr-title: "update flake inputs"
          pr-labels: |
            update
            automated
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
